.fact-card {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:35vw;
    height:30vh;
    margin-right: 7%;
    font-size: 2.5vh;
}

.save-button {
    background: transparent;
    border:none;
    color:rgb(172, 88, 116);;
}

.cat-gif {
    border-radius: 100px;
    height:28.5vh;
    width:14.5vw;
    margin-right: 4%;
    margin-left: 4%;
  }

  .fact-container {
    display:flex;
    flex-direction: row;
    align-items: center;
    height:40vh;
    width:65vw;
    margin-left: 17%;
    margin-right: 15%;
    margin-top: 3%;
    background-color:rgb(238, 168, 179);
    border-radius: 10px;
    border: 7px solid  rgb(172, 88, 116);
    color:rgb(172, 88, 116);;
  }

  .loading-message {
    margin-left: 3%;
    margin-right: 3%;
    font-size:2.5vh
  }


@media screen and (max-width: 1190px) {
  .fact-container {
    /* display:flex; */
    height:47vh;
    width:88vw;
    margin-left: 5%;
    margin-right: 15%; 
  } 
.cat-gif {
  height:21.5vh;
  width:14vw;
}
.fact-card {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:50vw;
  height:45vh;
  font-size: 2.2vh;
 margin-left:4%
}
}

@media screen and (max-width: 912px) {
  .fact-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    height:69vh;
    width:88vw;
    margin-left: 5%;
    margin-right: 15%;
    margin-top: 3%;
    font-size: 1.5vh;
  }
  .cat-gif {
    border-radius: 100px;
    height:18vh;
    width:15.5vw;
    margin-top: 3%
  }
  .fact-card {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:79vw;
    height:41vh;
    font-size: 2.2vh;
   margin-left:4%
}
}

@media screen and (max-width: 880px) {
  .cat-gif {
    border-radius: 100px;
    height:18vh;
    width:15vw;
  }
  .fact-card {
    width:79vw;
    height:37vh; 
}

}

@media screen and (max-width: 780px) {
  .cat-gif {
    border-radius: 100px;
    height:18vh;
    width:17vw;
  }
}

@media screen and (max-width: 690px) {
  .cat-gif {
    border-radius: 100px;
    height:18vh;
    width:20vw;
  }
}

@media screen and (max-width: 590px) {
  .cat-gif {
    border-radius: 100px;
    height:18vh;
    width:23vw;
  }
}

@media screen and (max-width: 500px) {
  .cat-gif {
    border-radius: 100px;
    height:15vh;
    width:22vw;
  }
}

@media screen and (max-width: 450px) {
  .cat-gif {
    border-radius: 100px;
    height:13vh;
    width:22vw;
    margin-top: 7%
  }
}
@media screen and (max-width: 414px) {
 
  .fact-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    height:72vh;
    width:88vw;
    margin-left: 4%;
    margin-right: 15%;
    margin-top: 3%;
    font-size: 1.5vh;
  }
  .cat-gif {
    border-radius: 100px;
    height:14vh;
    width:25vw;
   
  }
  .fact-card {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:80vw;
    height:46vh;
    font-size: 1.9vh;
   margin-left:4%
}
}

@media screen and (max-width: 395px) {
  .cat-gif {
    border-radius: 100px;
    height:15vh;
    width:32vw;
    margin-top: 7%
  }
}
