.back-button {
    background-color: transparent;
    border:none;
    margin-bottom: 5%;
    color:rgb(172, 88, 116)
}

.saved-card {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(172, 88, 116);;
    width: 40vw;
    height:15vh;
    border-radius: 5px;
    
}

.saved-facts-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100%;
    padding-bottom: 15%;
    background-color: rgb(252, 216, 221);
}

.save-card-container {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(172, 88, 116);;
    width: 50vw;
    height:27vh;
    border-radius: 5px;
    margin-top: 1%;
    border: 7px solid rgb(238, 168, 179);
    color: rgb(238, 168, 179);
}

.delete-button {
    background-color: transparent;
    border:none;
    color:rgb(238, 168, 179)
}
.saved-title {
    color:rgb(172, 88, 116);
    font-size: 2.5vh;
}

@media screen and (max-width: 1400px) {
    
    .save-card-container {
        width: 53vw;
    }
  }

  @media screen and (max-width: 1200px) {
    .save-card-container {
        width: 60vw;
    }
  }
  
  @media screen and (max-width: 980px) {
    .save-card-container {
        width: 65vw;
    }
    .saved-card {
        width: 55vw;
        height:15vh;
    }
  }
  
  @media screen and (max-width: 890px) {
    .saved-card {
        width: 55vw;
        height:15vh;
    }
  }
  
  @media screen and (max-width: 690px) {
    .saved-card {
        width: 60vw;
    }
    .save-card-container {
        width: 75vw;
        height:25vh;
    }
  }
  
  @media screen and (max-width: 580px) {
    .saved-card {
        width: 67vw;
    }
    .save-card-container {
        width: 85vw;
    }
  }
  
  @media screen and (max-width: 550px) {
    .save-card-container {
        height:30vh;
    }
  }
  @media screen and (max-width: 460px) {
    .save-card-container {
        height:35vh;
    }
  }
  
  @media screen and (max-width: 395px) {
        .save-card-container {
            height:40vh;
            font-size: 2vh;
        }
  }