.App {
  text-align: center;
  background-color: rgb(252, 216, 221);
  color:rgb(172, 88, 116);
  height:100vh;
  font-family: 'Lumanosimo', cursive;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.get-random-button {
  display:flex;
  align-items: center;
  justify-content: center;
  height:5vh;
  width:15vw;
  border:none;
  background-color:  rgb(172, 88, 116);
  border-radius: 5px;
  color:rgb(252, 216, 221);
  font-size: 2.3vh;
  margin-left: 43%;
  margin-top: 3%;
  font-family: 'Lumanosimo', cursive;
}

.space {
  color:palevioletred;
}

.intro {
  /* display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(172, 88, 116);
  color:rgb(252, 216, 221);
  width: 40vw;
  height:20vh */
  border:5px solid rgb(172, 88, 116);
  border-radius: 5px;
  width:45%;
  margin-left:27%;
  margin-top:4%
  
}

