.App {
  text-align: center;
  background-color: rgb(252, 216, 221);
  color:rgb(172, 88, 116);
  height:100vh;
  padding-bottom: 10%;
  font-family: 'Lumanosimo', cursive;
}

.get-random-button {
  display:flex;
  align-items: center;
  justify-content: center;
  height:5vh;
  width:20vw;
  border:none;
  background-color:  rgb(172, 88, 116);
  border-radius: 5px;
  color:rgb(252, 216, 221);
  font-size: 2.3vh;
  margin-left: 41%;
  margin-top: 3%;
  font-family: 'Lumanosimo', cursive;
}

.get-random-button:hover {
  background-color:rgb(186, 95, 125);
}


.space {
  color:rgb(172, 88, 116);
}

.intro {
  border:5px solid rgb(172, 88, 116);
  border-radius: 5px;
  width:45%;
  margin-left:27%;
  margin-top:4%
}

@media screen and (max-width: 1137px) {
  .intro {
    width:50%;
    margin-left:25%;
  }
  .get-random-button {
    margin-left: 42%;
  }
}

@media screen and (max-width: 1010px) {
  .get-random-button {
    width:35vw;
    margin-left: 34%;
  }
}

@media screen and (max-width: 950px) {
  .intro {
    width:55%;
    margin-left:22%;
  }
  .get-random-button {
    margin-left: 33%;
  }
}

@media screen and (max-width: 880px) {
  .intro {
    width:63%;
    margin-left:17%;
  }
  .get-random-button {
    width:37vw;
    margin-left: 32%;
  }
}

@media screen and (max-width: 770px) {
  .intro {
    width:71%;
    margin-left:14%;
  }
}

@media screen and (max-width: 690px) {
  .intro {
    width:75%;
    margin-left:12%;
  }
  .get-random-button {
    width:50vw;
    margin-left: 26%;
  }
}

@media screen and (max-width: 640px) {
  .intro {
    width:80%;
    margin-left:9%;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    width:65%;
    height:20vh;
    margin-left:16%;
  }
}

@media screen and (max-width: 550px) {
  .intro {
    width:60%;
    margin-left:18%;
  }
  .get-random-button {
    width:54vw;
    margin-left: 22%;
  }
}

@media screen and (max-width: 460px) {
  .intro {
    width:62%;
  }
}

@media screen and (max-width: 414px) {
  .intro {
    width:64%;
    height:25vh;
    margin-left:16%;
  }
  .get-random-button {
    height:5vh;
    width:40vw;
    font-size: 1.8vh;
    margin-left: 30%;
    margin-top: 6%;
  }
}

@media screen and (max-width: 395px) {
  .get-random-button {
    width:45vw;
    margin-left: 27%;
  }
}
